basePath: /api/v1
definitions:
  request.UpdateInteraction:
    properties:
      type:
        enum:
        - view
        - like
        - share
        - comment
        - watch
        example: view
        type: string
      watch_time:
        example: 300
        minimum: 0
        type: integer
    required:
    - type
    type: object
  response.Data-array_response_Video:
    properties:
      code:
        example: 200
        type: integer
      data:
        items:
          $ref: '#/definitions/response.Video'
        type: array
      message:
        example: success
        type: string
    type: object
  response.Data-string:
    properties:
      code:
        example: 200
        type: integer
      data:
        type: string
      message:
        example: success
        type: string
    type: object
  response.Error:
    properties:
      code:
        example: 123
        type: integer
      message:
        example: Error message
        type: string
    type: object
  response.Video:
    properties:
      id:
        example: 5
        type: integer
      length:
        example: 600
        type: integer
      likes:
        example: 1000
        type: integer
      name:
        example: Funny Cat Video
        type: string
      share:
        example: 500
        type: integer
      view:
        example: 10000
        type: integer
    type: object
host: vrs-lb-77799277.ap-southeast-1.elb.amazonaws.com:9000
info:
  contact: {}
  description: Server for using Swagger with Echo.
  title: Swagger Video ranking service API
  version: "1.0"
paths:
  /videos/{id}/interactions:
    post:
      consumes:
      - application/json
      description: Update video interaction (like, comment, share, view, watch)
      parameters:
      - description: Request body
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/request.UpdateInteraction'
      - description: Video ID
        example: "5"
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/response.Data-string'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/response.Error'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/response.Error'
      summary: Update video interaction
      tags:
      - videos
  /videos/top:
    get:
      consumes:
      - application/json
      description: Get top videos, optionally filtered by user watch history
      parameters:
      - description: User ID
        example: 3
        in: query
        name: user_id
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/response.Data-array_response_Video'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/response.Error'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/response.Error'
      summary: Get top videos
      tags:
      - videos
swagger: "2.0"
